body {
  font-family: Tahoma;
}

.container {
  display: flex;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
 }
 
 .text {
   font-size: 50px;
   text-shadow: 2px 2px 2px #000000;
 }

 .description {
  font-size: 14px;
  text-shadow: none;
 }

.topbarIndex {
  overflow: hidden;
}

 .topbarIndex a {
  color: white;
  float: none;
  display: flexbox;
  size: 100%;
  margin-top: 0%;
  margin-left: 15%;
 }

 .topbar {
  overflow: hidden;
  background-color: #F0386B;
 }

 .topbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 }

 .topbar a:hover {
  background-color: #F8C0C8;
  color: #6B2D5C;
 }

 .containerInfo {
  display: flex;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
 }

 .titleInfo h2 {
  font-size: 36px;
  color: #E2C290;
  text-shadow: 2px 2px 2px #F8C0C8;
 }

 .textInfo {
  font-size: 24px;
 }

 .tableStudy table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
 }

 .tableStudy td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
 }

 .tableExam table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
 }

 .welcomeText {
  color: white;
  size: 100%;
  font-size: 80px;
  margin-top: 15%;
  margin-left: 15%;
 }

 .links {
  list-style: none;
  padding: 0;
  padding-left: 50%;
  margin-top: 20px;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  font-size: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.links a:hover {
  color: #FF9900;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
